#! /bin/sh
/usr/bin/docker exec keycloak_postgres_1 /bin/bash -c "PGPASSWORD={{ keycloak_db_password }} pg_dump --username {{ keycloak_db_user }} {{ keycloak_db_name }}" >{{ keycloak_backup_path }}/keycloak_dump.sql
chmod go-r {{ keycloak_backup_path }}/keycloak_dump.sql
